<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>School</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.meihua.student.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentServlet</display-name>
    <servlet-name>StudentServlet</servlet-name>
    <servlet-class>com.meihua.student.servlet.StudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentServlet</servlet-name>
    <url-pattern>/StudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelStudentServlet</display-name>
    <servlet-name>DelStudentServlet</servlet-name>
    <servlet-class>com.meihua.student.servlet.DelStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelStudentServlet</servlet-name>
    <url-pattern>/DelStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudentServlet</display-name>
    <servlet-name>AddStudentServlet</servlet-name>
    <servlet-class>com.meihua.student.servlet.AddStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudentServlet</servlet-name>
    <url-pattern>/AddStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStudentServlet</display-name>
    <servlet-name>UpdateStudentServlet</servlet-name>
    <servlet-class>com.meihua.student.servlet.UpdateStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudentServlet</servlet-name>
    <url-pattern>/UpdateStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddApplicationservlet</display-name>
    <servlet-name>AddApplicationservlet</servlet-name>
    <servlet-class>com.meihua.student.servlet.AddApplicationservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddApplicationservlet</servlet-name>
    <url-pattern>/AddApplicationservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LookupStudentservlet</display-name>
    <servlet-name>LookupStudentservlet</servlet-name>
    <servlet-class>com.meihua.student.servlet.LookupStudentservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LookupStudentservlet</servlet-name>
    <url-pattern>/LookupStudentservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Applicationservlet</display-name>
    <servlet-name>Applicationservlet</servlet-name>
    <servlet-class>com.meihua.student.servlet.Applicationservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Applicationservlet</servlet-name>
    <url-pattern>/Applicationservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddbanjiServlet</display-name>
    <servlet-name>AddbanjiServlet</servlet-name>
    <servlet-class>com.meihua.student.servlet.AddbanjiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddbanjiServlet</servlet-name>
    <url-pattern>/AddbanjiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BanjiselectServlet</display-name>
    <servlet-name>BanjiselectServlet</servlet-name>
    <servlet-class>com.meihua.student.servlet.BanjiselectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BanjiselectServlet</servlet-name>
    <url-pattern>/BanjiselectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelbanjiServlet</display-name>
    <servlet-name>DelbanjiServlet</servlet-name>
    <servlet-class>com.meihua.student.servlet.DelbanjiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelbanjiServlet</servlet-name>
    <url-pattern>/DelbanjiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectStudentServlet</display-name>
    <servlet-name>SelectStudentServlet</servlet-name>
    <servlet-class>com.meihua.student.servlet.SelectStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectStudentServlet</servlet-name>
    <url-pattern>/SelectStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddcourseServlet</display-name>
    <servlet-name>AddcourseServlet</servlet-name>
    <servlet-class>com.meihua.student.servlet.AddcourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddcourseServlet</servlet-name>
    <url-pattern>/AddcourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectCourseServlet</display-name>
    <servlet-name>SelectCourseServlet</servlet-name>
    <servlet-class>com.meihua.student.servlet.SelectCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectCourseServlet</servlet-name>
    <url-pattern>/SelectCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddmessageServlet</display-name>
    <servlet-name>AddmessageServlet</servlet-name>
    <servlet-class>com.meihua.student.servlet.AddmessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddmessageServlet</servlet-name>
    <url-pattern>/AddmessageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelCourseServlet</display-name>
    <servlet-name>DelCourseServlet</servlet-name>
    <servlet-class>com.meihua.student.servlet.DelCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelCourseServlet</servlet-name>
    <url-pattern>/DelCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectMessageservlet</display-name>
    <servlet-name>SelectMessageservlet</servlet-name>
    <servlet-class>com.meihua.student.servlet.SelectMessageservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectMessageservlet</servlet-name>
    <url-pattern>/SelectMessageservlet</url-pattern>
  </servlet-mapping>
</web-app>